<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
        <ion-badge slot="end">{{ foodService.selectedForBuy.length }}</ion-badge>
        <ion-label>{{ title }}</ion-label>
    </ion-item>
    <ion-list *ngFor="let food of foods" slot="content">
      <ion-item>
        <ion-item>
          <ion-checkbox (click)="checkbox(food)" slot="start"></ion-checkbox>
          <ion-label>{{ food.name }}</ion-label>
        </ion-item>

        <ion-button (click)="onSelect(food)" slot="end">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="food === selectedFood" color="medium">
          <ion-label position="floating">Bezeichnung</ion-label>
          <ion-input [(ngModel)]="selectedFood.name"></ion-input>
          <ion-label position="floating">Stück</ion-label>
          <ion-input [(ngModel)]="selectedFood.pc"></ion-input>
      </ion-item>
    </ion-list>
  </ion-accordion>
</ion-accordion-group>
