<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="einkaufen">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Einkauf planen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistik">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Statistik</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
