<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-badge slot="end">{{ foodService.selectedForBuy.length }}</ion-badge>
        <ion-label>Titel</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let food of foodService.selectedForBuy" class="ion-activated">
          <ion-label>{{ food }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-item>
    Für Statistiken speichern
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Liste löschen</ion-label>
    <ion-button slot="end" (click)="deleteSelectedFood()">
      <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
