<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Einkaufen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-food-list [selectedFood]="selectedFood" [foods]="fruits" [title]="'Obst'"></app-food-list>
  <app-food-list [selectedFood]="selectedFood" [foods]="vegetables" [title]="'Gemüse'"></app-food-list>
  <app-food-list [selectedFood]="selectedFood" [foods]="breads" [title]="'Backwaren'"></app-food-list>
  <app-food-list [selectedFood]="selectedFood" [foods]="lunchmeat" [title]="'Aufschnitt'"></app-food-list>
  <app-food-list [selectedFood]="selectedFood" [foods]="beverages" [title]="'Getränke'"></app-food-list>

  <ion-item>
    <ion-label position="stacked">Name für Einkauf eingeben</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="saveShoppingList()">Einkaufsliste speichern</ion-button>
</ion-content>
